/train_data.csv
/test_data.csv

/mlruns/
/results_required_mlops/
/results_final_mlops*/
/results_final_required*/
/results_final_mlops_clean*/

.venv_dvc/
__pycache__/
.ipynb_checkpoints/
*.db
*.pkl
*.joblib

/ML2_FINAL_MLOps_Complete_Workflow.ipynb
/ML2_FINAL_MLOps_Complete_Workflow_FIXED.ipynb
/ML2_FINAL_MLOps_Strong_Clean_Workflow.ipynb